# sono ELFS ovvero gli EXE di Linux
gestione_macchine
hello_world
ARRAY_gestione_macchine
LIST_gestione_macchine

# non serve salvarla
.vscode/

# non ho idea di cosa sia ma è eseguibile penso, quindi chissene :)
a.out
