# sono ELFS ovvero gli EXE di Linux
gestione_macchine
ARRAY_gestione_macchine
LIST_gestione_macchine

# non serve salvarla
.vscode/

# probabilmente file che servono poi nella compilazione da terminale (o che si sono creati per errore)
a.out
O0
